{% schema %}
  {
    "name": "Rezepte:Ofenrezepte",
  "settings": [
    {
      "type": "text",
      "id": "ueberschrift",
      "label": "Überschrift",
      "default": "Willkommen Welt!"
    }
  ],
  "presets": [
    {
      "name": "Mein Abschnitt"
    }
  ]
}
{% endschema %}

<div class="mein-abschnitt">
  <h2>{{ section.settings.ueberschrift }}</h2>
</div>